<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Fabrikam_Food.Fabrikam_Food" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Fabrikam_Foods_App.Droid"></application>
</manifest>